*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ---------header part--------------- */
.header{
    display: flex;
    width: 70%;
    height: 45px;
    border: 2px solid #F2F2F2;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    border-top: none;
    
    
}
.header .contacts a{
  text-decoration: none;
  font-size: 19px;
  padding: 10px 20px 10px 18px;
  border-right: 2px solid #F2F2F2;
  /* border-bottom: 0.5px solid grey; */
  /* border-left: 0.5px solid grey; */
  color:rgb(176, 168, 168);

  
}
.header .contacts  .fa{
   padding-right: 10px;
   font-size: 16px;
}
.header .icons{
    display: flex;
   
    
}
.header .icons a{
    display: block;
    width: 40px;
    height: 40px;
    color:rgb(176, 168, 168);
    border-left: 2px solid #F2F2F2;
  transition: transform 0.5s;
  padding-top: 11px;
    text-align: center;
    
}
.header .icons a .fa{
    transform:translate(0,0);
    transition: all 0.7s;
}

.header .icons a:hover{
    background-color: #FF432E;
    color: white;
   


}
.header .icons a:hover .fa{
    transform: translate(6,0);
}

@media  screen  and (min-width:320px)and (max-width:480px) {
   .header{
    display: flex;
    flex-direction: column;
    border:none;
    width:100%;
    height: 100%;
    margin-left: 0;
   }
   .header .contacts{
    display:flex;
    flex-direction: column;
    border: none;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
   }
   .header .contacts a{
    border:none;
    border-bottom:2px solid #F2F2F2;
    width: 100%;
    
   }
   .header .icons{
    display: flex;
    width: 100%;
    padding-left: 10px;
    /* border: 0.3px solid grey; */
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid #F2F2F2;
    /* margin-bottom: 10px; */
   
    
}
.header .icons a{
    border:none;
    display: inline;
    padding: 7px;

}

    
}





/* ---------------------navbar part---------------------- */
.navbar{
    width: 100%;
    height: 60px;
    /* border:2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 250px;
    align-items: center;
    border-bottom: 2px solid #F2F2F2;
}
.navbar .div1 span{
    font-size: 40px;
    text-transform: capitalize;
    color: #FF432E;
    font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding: 0px 1px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 21px 10px;
    font-size: 18px;
    color:rgb(151, 146, 146)
}
.navbar ul li a:hover{
    background-color: #FF432E;
    color: white;
}
.navbar ul li  .portfolio{
    background-color: #FF432E;
    color: white;
}
@media  screen  and (min-width:320px)and (max-width:480px) {
  .navbar ul{
    display: none;
    
  }
  .navbar .div1 span{
    font-size: 40px;
    text-transform: capitalize;
    color: #FF432E;
    font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
padding-left: 0px;
}
.navbar{
    padding-left: 15px;
    margin: 0px;
}
    
}

/* ----------------------mainabout----------------- */
.mainabout{
    width: 100%;
    background: url(banner.jpg);
    background-position: start;
    /* background-size: cover; */
    height: 18vh;
    /* border: 2px solid red; */
    margin-top: 80px;
    margin-bottom: 20px;
}
.mainabout h1{
padding:40px 250px ;
font-size: 40px;
text-transform: uppercase;
font-weight: 100;
color: white;
}
@media  screen  and (min-width:320px)and (max-width:480px){
    .mainabout{
        width: 100%;
        background: url(banner.jpg);
        background-position: start;
        /* background-size: cover; */
        height: 100%;
        /* border: 2px solid red; */
        
        margin-bottom: 20px;
    }
    .mainabout h1{
        padding:50px 20px ;
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 100;
        color: white;

        }
}

/* ------------------------section portfolio-------------------------- */

#portfolio{
    width: 100%;
    height: 100%;
    background-color: #F2FFFC;
    /* background-color:red; */
    
}
#portfolio .portfolio1{
    text-align: center;
    padding: 100px;
}
#portfolio .portfolio1 h1{
    font-size: 45px;
    font-weight: 200;
    text-transform: capitalize;
}
#portfolio .portfolio1 p{
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing:1px;
    word-spacing: 2px;
}
#portfolio .portfolio2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:  120px;
    padding-top: 80px;
   
   


}
#portfolio .portfolio2 div{
    width: 400px;
    height: 300px;
    position: relative;
    margin-right: 1px;
    
}
#portfolio .portfolio2 div img{
    width: 100%;
    height: 100%;

}
#portfolio .portfolio2 div .inner-portfolio{
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    padding: 0px 10px;
background-color: rgba(210, 52, 35, 0.9);
transition: all .5s;
/* display: none; */


    
}
#portfolio .portfolio2 div .inner-portfolio h1{
    color: white;
    font-size: 25px;
    font-weight: 200;
    padding-top:50px ;
    
}
#portfolio .portfolio2 div .inner-portfolio p{
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 200;
}
#portfolio .portfolio2 div .inner-portfolio a{
    font-size: 20px;
    color: white;
    margin: 20px;
}
#portfolio .portfolio2 div:hover  .inner-portfolio{
  height: 100%;
  display: block;

}
@media screen  and (min-width:320px) and (max-width:480px){
    #portfolio .portfolio1{
        text-align: center;
        padding: 80px 5px;
    }
    #portfolio .portfolio2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 7px;
        padding-bottom: 100px;
        padding-top: 80px;
       
       
    
    
    }
}
#first_box{
    display: flex;
    justify-content: space-between;
    padding:90px 190px;
    background-color: #222222;
    
}
#first_box .box4 .lastimage img{
width: 60px;
height: 50px;
}
#first_box div{
    width: 250px;
    /* height: 150px; */
    /* border: 2px solid; */
}
#first_box div h1{
    color:#b1acac;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 20px;
}
#first_box div  p{
    color:#999999;
    padding-bottom: 10px;
    font-size: 17px;
}
#first_box .box1 span:nth-child(1){
    padding-right: 7px;
}
#first_box .box1 span:nth-child(2):hover{
    color: #FF432E;
    cursor: pointer;
}
#first_box .box2 .box2mini{
    display: flex;
    /* flex-direction: column; */
    text-align: start;
}
#first_box .box2 .box2mini .fa{
    font-size: 40px;
    padding-right: 10px;
    color:#999999;
}
#first_box .box2 .box2mini .box2min a{
    font-size: 13px;
    color: #FF432E;
    
}
#first_box .box2 .box2mini .box2min p{
    padding-top: 10px;
    font-size: 17px;
    text-align: start;
}
#first_box .box3 input{
    display: block;
    width: 100%;
    height:15%;
    font-size: 18px;
    margin-bottom: 11.5px;

}

#first_box .box3 input::placeholder {
    padding: 0px 7px;
    font-size: 15px;
    
}
#first_box .box3 input:focus{
    outline:1px solid aqua;
}
#first_box .box3 a{
    padding: 10px 18px;
    background-color: #FF432E;
    margin-top: 70px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}
#first_box .box3 a:hover{
    background-color: #222222;
    color: #FF432E;
    border: 1px solid #FF432E ;
}
#second_box{
    display: flex;
    justify-content: space-between;
    background-color: #1D1D1D;

    padding: 20px 220px;
}
#second_box .second1{
    color:#999999;
    text-transform: capitalize;
    font-size: 18px;
}
#second_box .second2 span{
    color:#999999;
    padding-right: 10px;
    text-transform: capitalize;
}
#second_box .second2 span:nth-child(1){
    color: white;
}
#second_box .second2 span:hover,.second1 span:hover{
    color:#FF432E;
    cursor: pointer;
}
@media screen  and (min-width:320px) and (max-width:480px){
    #first_box{
        display: flex;
        /* justify-content: space-between; */
        padding:80px 10px 50px 10px;
        background-color: #222222;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        
        
    }
    #first_box .box4 .lastimage{
        width: 100%;
    }

    #first_box .box4 .lastimage img{
        width: 70px;
        height: 60px;
        }
    #first_box div{
        width: 100%;
        height: 200px;
        /* border: 2px solid; */
        padding-bottom: 20px;

    }
    #second_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 40px 10px 50px 10px;
    }
    #first_box .box3 input{
        display: block;
        width: 100%;
        height: 20%;
        font-size: 18px;
        margin-bottom: 11.5px;
    
    }
    #second_box .second1{
        color:#999999;
        text-transform: capitalize;
        font-size: 15px;
        /* width: 100%; */
    }
    #second_box .second2{
        color:#999999;
        text-transform: capitalize;
        font-size: 15px;
        padding-left: 40px;
        padding-top: 10px;

    }
}
