*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ---------header part--------------- */
.header{
    display: flex;
    width: 70%;
    height: 45px;
    border: 2px solid #F2F2F2;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    border-top: none;
}
.header .contacts a{
  text-decoration: none;
  font-size: 19px;
  padding: 10px 20px 10px 18px;
  border-right: 2px solid #F2F2F2;
  /* border-bottom: 0.5px solid grey; */
  /* border-left: 0.5px solid grey; */
  color:rgb(176, 168, 168);

  
}
.header .contacts  .fa{
   padding-right: 10px;
   font-size: 16px;
}
.header .icons{
    display: flex;
   
    
}
.header .icons a{
    display: block;
    width: 40px;
    height: 40px;
    color:rgb(176, 168, 168);
    border-left: 2px solid #F2F2F2;
  transition: transform 0.5s;
  padding-top: 11px;
    text-align: center;
    
}
.header .icons a .fa{
    transform:translate(0,0);
    transition: all 0.7s;
}

.header .icons a:hover{
    background-color: #FF432E;
    color: white;
   


}
.header .icons a:hover .fa{
    transform: translate(6,0);
}

@media  screen  and (min-width:320px)and (max-width:480px) {
   .header{
    display: flex;
    flex-direction: column;
    border:none;
    width:100%;
    height: 100%;
    margin-left: 0;
   }
   .header .contacts{
    display:flex;
    flex-direction: column;
    border: none;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
   }
   .header .contacts a{
    border:none;
    border-bottom:2px solid #F2F2F2;
    width: 100%;
    
   }
   .header .icons{
    display: flex;
    width: 100%;
    padding-left: 10px;
    /* border: 0.3px solid grey; */
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid #F2F2F2;
    /* margin-bottom: 10px; */
   
    
}
.header .icons a{
    border:none;
    display: inline;
    padding: 7px;

}

    
}





/* ---------------------navbar part---------------------- */
.navbar{
    width: 100%;
    height: 60px;
    /* border:2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 250px;
    align-items: center;
    border-bottom: 2px solid #F2F2F2;
}
.navbar .div1 span{
    font-size: 40px;
    text-transform: capitalize;
    color: #FF432E;
    font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding: 0px 1px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 21px 10px;
    font-size: 18px;
    color:rgb(151, 146, 146)
}
.navbar ul li a:hover{
    background-color: #FF432E;
    color: white;
}
.navbar ul li .service{
    background-color: #FF432E;
    color: white;
}
@media  screen  and (min-width:320px)and (max-width:480px) {
  .navbar ul{
    display: none;
    
  }
  .navbar .div1 span{
    font-size: 40px;
    text-transform: capitalize;
    color: #FF432E;
    font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
padding-left: 0px;
}
.navbar{
    padding-left: 15px;
    margin: 0px;
}
    
}

/* ----------------------mainabout----------------- */
.mainabout{
    width: 100%;
    background: url(banner.jpg);
    background-position: start;
    /* background-size: cover; */
    height: 18vh;
    /* border: 2px solid red; */
    margin-top: 80px;
}
.mainabout h1{
padding:40px 250px ;
font-size: 40px;
text-transform: uppercase;
font-weight: 100;
color: white;
}
@media  screen  and (min-width:320px)and (max-width:480px){
    .mainabout{
        width: 100%;
        background: url(banner.jpg);
        background-position: start;
        /* background-size: cover; */
        height: 100%;
        /* border: 2px solid red; */
        margin-top: 80px;
        margin-bottom: 90px;
    }
    .mainabout h1{
        padding:50px 20px ;
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 100;
        color: white;

        }
}

/* ----------------------------section service------------------------- */

#ourservice{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    /* background-color:red; */
    
}
#ourservice .service1{
    text-align: center;
    padding: 100px;
}
#ourservice .service1 h1{
    font-size: 45px;
    font-weight: 200;
    text-transform: capitalize;
}
#ourservice .service1 p{
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing:1px;
    word-spacing: 2px;
}
 #ourservice .service2{
    display: flex;
    justify-content:space-between;
    /* align-items: ; */
    flex-wrap:wrap;
    width: 1200px;
    margin:  0px auto ;
    /* border: 2px solid; */
  padding-bottom: 100px;
    
 }


#ourservice .service2 .servicebox {
   text-align: center;
   /* border: 2px solid; */
   width: 250px;
   height: 250px;
   /* padding: 10px; */
  
  
}
#ourservice .service2 .servicebox a{
 display: table;
 width: 100px;
 height: 100px;
 border: 2px solid black ;
 text-decoration: none;
 margin: 0px auto;
 border-radius: 50%;
 color: black;
 font-size: 30px;
   



}
#ourservice .service2 .servicebox a:hover{
    background-color: #FF432E;
    color: #F2FFFC;
    border: none;
}
#ourservice .service2 .servicebox .fa{
    display: table-cell;
    vertical-align: middle;
}
#ourservice .service2 .servicebox h1{
    font-size: 18px;
    padding: 20px 0px 13px 0px;
}
#ourservice .service2 .servicebox p{
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
    color: rgb(57, 52, 52);
}

@media screen  and (min-width:320px) and (max-width:480px){
    #ourservice .service1{
        text-align: center;
        padding: 80px 5px;
    }
    #ourservice .service1 h1{
        font-size: 55px;
        font-weight: 200;
        text-transform: capitalize;
    }
    #ourservice .service2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #ourservice .service2 .servicebox h1{
     padding-bottom: 13px;
    }
}
/* ------------------------section service2----------------------------- */
#service2{
    display: flex;
    background-image: url(bg-02.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 120px 170px;
    justify-content: space-between;
}
#service2 div{
    background-color: white;
    padding: 0px 20px;
    /* border: 2px solid ; */
    text-align: center;
    width: 280px;
    height: 350px;
    
}
#service2 div p{
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.4;

}
#service2 div h1{
    font-size: 24px;
    font-weight: 200;
    padding-top: 30px;
   
    
}
#service2 div i{
  padding:35px 45px;
    background-color:#5BB12F;
    font-size: 50px;
    color: white;
    /* display: block; */
}
@media screen  and (min-width:320px) and (max-width:480px){
    #service2{
        display: flex;
        background-image: url(bg-02.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 100%;
        padding: 120px 10px;
        justify-content: space-between;
        flex-direction: column;
    } 
    #service2 div{
        background-color: white;
        padding: 0px 20px;
        /* border: 2px solid ; */
        text-align: center;
        width: 100%;
        height:310px;
        margin-bottom:40px;
        
    }
    #service2 div p{
        font-size: 18px;
        padding-top: 20px;
        line-height: 1.4;
    
    }
    #service2 div h1{
        font-size: 22px;
        font-weight: 200;
        padding-top: 20px;
       
        
    }
}


/* -------------------------------section service3------------------- */
#service3{
    width:100%;
    height:100%;
    background-color: white;
    /* text-align: center; */
    padding: 70px 100px;

}
#service3 .service3_01 h1{
text-align: center;
font-size: 52px;
text-transform: capitalize;
font-weight: 100;
}
#service3 .service3_02{
    display: flex;
    justify-content: space-between;
    padding:70px 120px ;
}
#service3 .service3_02 div{
    width: 350px;
    height: 440px;
    border: 0.5px solid rgb(193, 191, 191);
    background-image: linear-gradient(to top,white 65%,#F1F1F1 35%);
    text-align: center;
    padding: 0px 20px;
}
#service3 .service3_02 div:nth-child(2){
    background-image: linear-gradient(to top,white 65%,#5BB12F 35%);
}
#service3 .service3_02 div h1{
          padding-top:60px;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 100;
          padding-bottom: 20px;
          
          
}
#service3 .service3_02 div p{
    font-size: 18px;
    padding-bottom: 35px;
}
#service3 .service3_02 div a{
  padding: 13px 21px;
    background-color:#FF432E;
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    border-radius: 4px;
}

#service3 .service3_02 div a:hover{
    background-color: white;
    color: #FF432E;
    border: 1px solid  #FF432E;
}
#service3 .service3_02 div span i{
padding: 38px 38px ;
background-color:#5BB12F ;
border-radius: 50%;
font-size: 30px;
margin-top: 27px;
color: white;
}
#service3 .service3_02 div:nth-child(2) span i{
    border:2px solid white;
    padding: 35px 35px ;
}

@media screen  and (min-width:320px) and (max-width:480px){
    #service3{
        width:100%;
        height:100%;
        background-color: white;
        /* text-align: center; */
        padding: 70px 7px;
    
    }
    #service3 .service3_02{
        display: flex;
        justify-content: space-between;
        padding:70px 7px ;
        flex-direction: column;
    }
    #service3 .service3_02 div{
        width: 100%;
        height: 440px;
        border: 0.5px solid rgb(193, 191, 191);
        background-image: linear-gradient(to top,white 65%,#F1F1F1 35%);
        text-align: center;
        padding: 0px 20px;
       
    }
}






/* ---------------------------------section last--------------------------- */
#last{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url(call-to.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
#last .lastbox{
    width: 700px;
    height: 300px;
    text-align: center;
}
#last .lastbox h1{
    
        font-size: 18px;
        color:white;
        font-weight: 100;
        line-height: 1.3;


}
#last .lastbox img{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 30px;
}
#last .lastbox p{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
#last .lastbox h2{
    font-size: 18px;
    font-weight: 100;
    color: white;
    text-transform: capitalize;
    padding-top: 5px;
}
#last .lastbox h2 span{
    text-transform: uppercase;
}
@media screen  and (min-width:320px) and (max-width:480px){
    #last{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url(call-to.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #last .lastbox{
        width: 300px;
        height: 100%;
        text-align: center;
        padding:0px 65px;
    }
    #last .lastbox h2{
        font-size: 18px;
        font-weight: 100;
        color: white;
        text-transform: capitalize;
        padding-top: 5px;
        padding-bottom: 30px;
    }
}

/* ----------------------section photos--------------- */
#photos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
#photos img{
     width: 230px;
    height: 150px;
    padding: 30px 0px;
    border: 0.5px solid rgb(200, 193, 193);
    margin-right: 4px;
    cursor: pointer;
    
}
@media screen  and (min-width:320px) and (max-width:480px){
    /* ----------------------section photos--------------- */
#photos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;
}
#photos img{
    /* padding: 6px 5px; */
    height:80px;
    width: 60px;
    border: 0.5px solid rgb(196, 193, 193);
    margin-right: 2px;
}

}

/* --------------------footer-------------------- */
#first_box{
    display: flex;
    justify-content: space-between;
    padding:90px 190px;
    background-color: #222222;
    
}
#first_box .box4 .lastimage img{
width: 60px;
height: 50px;
}
#first_box div{
    width: 250px;
    /* height: 150px; */
    /* border: 2px solid; */
}
#first_box div h1{
    color:#b1acac;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 20px;
}
#first_box div  p{
    color:#999999;
    padding-bottom: 10px;
    font-size: 17px;
}
#first_box .box1 span:nth-child(1){
    padding-right: 7px;
}
#first_box .box1 span:nth-child(2):hover{
    color: #FF432E;
    cursor: pointer;
}
#first_box .box2 .box2mini{
    display: flex;
    /* flex-direction: column; */
    text-align: start;
}
#first_box .box2 .box2mini .fa{
    font-size: 40px;
    padding-right: 10px;
    color:#999999;
}
#first_box .box2 .box2mini .box2min a{
    font-size: 13px;
    color: #FF432E;
    
}
#first_box .box2 .box2mini .box2min p{
    padding-top: 10px;
    font-size: 17px;
    text-align: start;
}
#first_box .box3 input{
    display: block;
    width: 100%;
    height:15%;
    font-size: 18px;
    margin-bottom: 11.5px;

}

#first_box .box3 input::placeholder {
    padding: 0px 7px;
    font-size: 15px;
    
}
#first_box .box3 input:focus{
    outline:1px solid aqua;
}
#first_box .box3 a{
    padding: 10px 18px;
    background-color: #FF432E;
    margin-top: 70px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}
#first_box .box3 a:hover{
    background-color: #222222;
    color: #FF432E;
    border: 1px solid #FF432E ;
}
#second_box{
    display: flex;
    justify-content: space-between;
    background-color: #1D1D1D;

    padding: 20px 220px;
}
#second_box .second1{
    color:#999999;
    text-transform: capitalize;
    font-size: 18px;
}
#second_box .second2 span{
    color:#999999;
    padding-right: 10px;
    text-transform: capitalize;
}
#second_box .second2 span:nth-child(1){
    color: white;
}
#second_box .second2 span:hover,.second1 span:hover{
    color:#FF432E;
    cursor: pointer;
}
@media screen  and (min-width:320px) and (max-width:480px){
    #first_box{
        display: flex;
        /* justify-content: space-between; */
        padding:80px 10px 50px 10px;
        background-color: #222222;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        
        
    }
    #first_box .box4 .lastimage{
        width: 100%;
    }

    #first_box .box4 .lastimage img{
        width: 70px;
        height: 60px;
        }
    #first_box div{
        width: 100%;
        height: 200px;
        /* border: 2px solid; */
        padding-bottom: 20px;

    }
    #second_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 40px 10px 50px 10px;
    }
    #first_box .box3 input{
        display: block;
        width: 100%;
        height: 20%;
        font-size: 18px;
        margin-bottom: 11.5px;
    
    }
    #second_box .second1{
        color:#999999;
        text-transform: capitalize;
        font-size: 15px;
        /* width: 100%; */
    }
    #second_box .second2{
        color:#999999;
        text-transform: capitalize;
        font-size: 15px;
        padding-left: 40px;
        padding-top: 10px;

    }
}
